<html>
<head>
    <style type="text/css" media="screen">
        #wrapper{
            margin: 300px;
            height: 500px;
            width: 800px;
        }
    </style>
</head>
<p>this is sample of simple HTML to PDF</p>
<div id="wrapper">
    <span>you can even do this: <b>this is bold</b></span>
    <hr>
    <img src="<%= @image_url %>" />
</div>

</html>

